body {
    /*Dimensoes*/
    margin: 0;
    padding: 0;
}
.container {
    /*Dimensoes*/
    width: auto;
    height: 100%;
    padding-top: 35px;
    padding-left: 20%;
    padding-right: 20%;
    /*Formatações*/
    background-image: url("../img/form_img_back.jpg");
    background-size: cover;
    
}
.form_title {
    /*Dimensoes*/
    display: flex;
    justify-content: center;
    width: auto;
    padding: 10px;
    
    /*Formatações*/
    background-color: rgba(19, 72, 219, 0.6);
    font-size: 22px;
    font-family: Arial;
    font-weight: bold;
    color: rgb(249, 252, 253);
    border-radius: 15px 15px 0px 0px;
}


